<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <th:block th:replace="_layoutAdmin :: link-css"></th:block>
</head>
<body>
<th:block th:replace="_layoutAdmin :: header"></th:block>

<!-- Main Menu -->
<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a href="/admin/categories"><i class="icon-bar-chart"></i><span class="badge">  CATEGORY  </span></a></li>
            <li><a href="/admin/product"><i class="icon-barcode"></i><span class="badge">  PRODUCT  </span></a></li>
            <li><a href="/admin/author"><i class="icon-group"></i><span class="badge">  AUTHOR  </span></a></li>
            <li><a href="#"><i class="icon-shopping-cart"></i><span class="badge">  ORDER  </span></a></li>
            <li><a href="#"><i class="icon-group"></i><span class="badge">  USER  </span></a></li>
        </ul>
    </div>
</div>
<!-- end: Main Menu -->


<!-- start: Content -->
<div id="content" class="span10">
    <div style="background-color: whitesmoke">
        <!-- Content Block -->
        <th:block th:fragment="content" th:inline="text">
            <h1>Edit Product</h1>
            <br/>
            <form th:action="@{/admin/product/edit/{id}(id=${product.masp})}" th:object="${product}" method="post">
                <!-- Các trường thông tin -->
                <input type="hidden" th:field="*{masp}">
                <div>
                    <label for="productName">Tên Sách:</label>
                    <input type="text" id="productName" th:field="*{tensp}" required />
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label" for="hinhanh">Hình Ảnh:</label>
                    <input class="form-control" type="file" th:field="*{hinhanh}" id="hinhanh">
                </div>
                <div>
                    <label for="price">Giá sách:</label>
                    <input type="number" id="price" th:field="*{gia}" required />
                </div>
                <div>
                    <label for="description">Mô tả:</label>
                    <textarea id="description" th:field="*{mota}" required></textarea>
                </div>
                <div>
                    <label for="quantity">Số lượng:</label>
                    <input type="number" id="quantity" th:field="*{soluong}" required />
                </div>
                <div class="col-6 mb-3">
                    <label class="form-label" for="ngaydang">Ngày Đăng:</label>
                    <input class="form-control" type="date" th:field="*{ngaydang}" id="ngaydang">
                </div>

                <div class="col-6 mb-3">
                    <label class="form-label" for="category">Thể Loại:</label>
                    <select class="form-control" th:field="*{category.maloai}" id="category">
                        <option th:each="category : ${categories}" th:value="${category.maloai}" th:text="${category.tenloai}"></option>
                    </select>
                </div>

                <div class="col-6 mb-3">
                    <label class="form-label" for="author">Tác Giả:</label>
                    <select class="form-control" th:field="*{author.matacgia}" id="author">
                        <option th:each="author : ${authors}" th:value="${author.matacgia}" th:text="${author.tentacgia}"></option>
                    </select>
                </div>
                <!-- Nút lưu và hủy -->
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="/admin/product" class="cancel-link">Cancel</a>
            </form>
        </th:block>
        <!-- End of Content Block -->
    </div>
</div>
<!-- end: Content -->

<th:block th:replace="_layoutAdmin :: footer"></th:block>
</body>
</html>
