<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <!-- start: Meta -->
  <meta charset="utf-8">
  <title>Admin</title>

  <!-- end: Meta -->
  <!-- start: Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- end: Mobile Specific -->
  <!-- start: CSS -->
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}">
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/admin/css/bootstrap-responsive.min.css}">
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/admin/css/style-responsive.css}">
  <link th:fragment="link-css" rel="stylesheet" th:href="@{/admin/css/style.css}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
  <!-- end: CSS -->
  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->

  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>


</head>

<body>

<!-- Header -->
<header th:fragment="header">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/admin"><span>ADMIN DASHBOARD</span></a>

        <!-- start: Header Menu -->
        <div class="nav-no-collapse header-nav">
          <ul class="nav pull-right">
            <li class="dropdown">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="glyphicon glyphicon-user"></i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="glyphicon glyphicon-user"></i> Logout</a></li>
              </ul>
            </li>
            <!-- end: User Dropdown -->
          </ul>
        </div>
        <!-- end: Header Menu -->

      </div>
    </div>
  </div>
</header>

<!-- Content -->
<div class="container-fluid-full">
  <div class="row-fluid">

    <!-- Main Menu -->
    <div id="sidebar-left" class="span2">
      <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
          <li><a href="/admin/categories"><i class="icon-bar-chart"></i><span class="badge">  CATEGORY  </span></a></li>
          <li><a href="/admin/product"><i class="icon-barcode"></i><span class="badge">  PRODUCT  </span></a></li>
          <li><a href="/admin/author"><i class="icon-group"></i><span class="badge">  AUTHOR  </span></a></li>
          <li><a href="#"><i class="icon-shopping-cart"></i><span class="badge">  ORDER  </span></a></li>
          <li><a href="#"><i class="icon-group"></i><span class="badge">  USER  </span></a></li>
        </ul>
      </div>
    </div>
    <!-- end: Main Menu -->

    <noscript>
      <div class="alert alert-block span10">
        <h4 class="alert-heading">Warning!</h4>
        <p>You need to have <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
      </div>
    </noscript>

    <div id="content" class="span10">
      <div style="background-color: whitesmoke">
        <!-- Content Block -->
        <th:block th:replace="::content"></th:block>
      </div>
    </div>

  </div>
</div>

<!-- Footer -->
<footer th:fragment="footer">

</footer>

<!-- JavaScript -->
<script th:src="@{/admin/js/jquery-1.9.1.min.js}"></script>
<script th:src="@{/admin/js/jquery-migrate-1.0.0.min.js}"></script>
<script th:src="@{/admin/js/jquery-ui-1.10.0.custom.min.js}"></script>
<script th:src="@{/admin/js/jquery.ui.touch-punch.js}"></script>
<script th:src="@{/admin/js/modernizr.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/jquery.cookie.js}"></script>
<script th:src="@{/admin/js/fullcalendar.min.js}"></script>
<script th:src="@{/admin/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/admin/js/excanvas.js}"></script>
<script th:src="@{/admin/js/jquery.flot.js}"></script>
<script th:src="@{/admin/js/jquery.flot.pie.js}"></script>
<script th:src="@{/admin/js/jquery.flot.stack.js}"></script>
<script th:src="@{/admin/js/jquery.flot.resize.min.js}"></script>
<script th:src="@{/admin/js/jquery.chosen.min.js}"></script>
<script th:src="@{/admin/js/jquery.uniform.min.js}"></script>
<script th:src="@{/admin/js/jquery.cleditor.min.js}"></script>
<script th:src="@{/admin/js/jquery.noty.js}"></script>
<script th:src="@{/admin/js/jquery.elfinder.min.js}"></script>
<script th:src="@{/admin/js/jquery.raty.min.js}"></script>
<script th:src="@{/admin/js/jquery.iphone.toggle.js}"></script>
<script th:src="@{/admin/js/jquery.uploadify-3.1.min.js}"></script>
<script th:src="@{/admin/js/jquery.gritter.min.js}"></script>
<script th:src="@{/admin/js/jquery.imagesloaded.js}"></script>
<script th:src="@{/admin/js/jquery.masonry.min.js}"></script>
<script th:src="@{/admin/js/jquery.knob.modified.js}"></script>
<script th:src="@{/admin/js/jquery.sparkline.min.js}"></script>
<script th:src="@{/admin/js/counter.js}"></script>
<script th:src="@{/admin/js/retina.js}"></script>
<script th:src="@{/admin/js/custom.js}"></script>
<!-- end: JavaScript -->

</body>

</html>
