<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <th:block th:replace="layout :: link-favicon"></th:block>-->
    <th:block th:replace="layout :: link-css"></th:block>

</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">

                    <h1>Cart</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table th:if="${check}" class="cart-table">
                        <thead class="cart-table-head">
                        <tr class="table-head-row">
                            <th class="product-remove"></th>
                            <th class="product-image">Product Image</th>
                            <th class="product-name">Name</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-total">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-body-row" th:each="item : ${products}">
                            <td class="product-remove">
                                <a href="#" th:href="@{/cart/remove/{productId}(productId=${item.product.masp})}" onclick="removeProduct(event, ${item.product.masp})">
                                    <img
                                            style="width:20px; height:20px;margin-right:10px;"
                                            th:src="@{/user/images/close.png}">
                                </a>
                            </td>

                            <td class="product-image"><img  th:src="@{/admin/image/{image}(image=${item.product.hinhanh})}" height="100" alt="Product Image"></td>
                            <td class="product-name" th:text="${item.product.tensp}"></td>
                            <td class="product-price"  th:text="${item.product.gia}"></td>
<!--                            <td sec:authorize="hasAnyAuthority('USER')">-->
<!--                                <input type="number" min="1" max="999" th:value="${item.quantity}" th:attr="data-item-id=${item.product.id}"  onchange="updateQuantity(this)">-->
<!--                            </td>-->
                            <td class="product-quantity"><input th:attr="data-item-id=${item.product.masp}"  onchange="updateQuantity(this)" th:value="${item.quantity}"  type="number" min="1" max="999"></td>
                            <td class="product-total"  th:text="${item.product.gia * item.quantity}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table th:if="${!check}">
                        <h2>Empty</h2>
                    </table>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                        <tr class="table-total-row">
                            <th>Total</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="total-data">
                            <td><strong>Subtotal: </strong></td>
                            <td id="subtotal" th:text="${totalPrice}">0</td>
                        </tr>
                        <tr class="total-data">
                            <td><strong>Shipping: </strong></td>
                            <td>45000</td>
                        </tr>
                        <tr class="total-data">
                            <td><strong>Total: </strong></td>
                            <td id="total" th:text="${totalPrice}">0</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="cart-buttons">
                        <a href="cart.html" class="boxed-btn " id="update-cart-btn">Update Cart</a>
                        <a href="/cart/checkout" class="boxed-btn black">Check Out</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end cart -->
<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img th:src="@{/user/images/company-logos/1.png}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{/user/images/company-logos/2.png}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{/user/images/company-logos/3.png}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{/user/images/company-logos/4.png}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{/user/images/company-logos/5.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end logo carousel -->
<th:block th:replace="layout :: footer"></th:block>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/user/js/updatequantity.js}"></script>
<script th:src="@{/user/js/removecart.js}"></script>

<script>
        // Sự kiện click cho nút "Update Cart"
        $('.update-cart-btn').click(function (event) {
            event.preventDefault();
            location.reload();
        });
    </script>
</body>
</html>