<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: link-favicon"></th:block>
    <th:block th:replace="layout :: link-css"></th:block>
    <style>
    .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    }
}


  </style>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <!--                    <p>Fresh and Organic</p>-->
                    <h1>Book Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".strawberry">Strawberry</li>
                        <li data-filter=".berry">Berry</li>
                        <li data-filter=".lemon">Lemon</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class=" product-grid">
        <div class="row product-lists" th:each="product : ${products}">

            <div id="" class="col-lg-12 col-md-6 text-center strawberry">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="/product/detail"><img th:src="@{/admin/image/} + ${product.hinhanh}" alt="Product Image"></a>
                    </div>
                    <h3 th:text="${product.tensp}"></h3>
                    <p class="product-price">
                        <span style="font-size: 25px;" th:text="${#numbers.formatDecimal(product.gia, 0, 'COMMA', 0, 'POINT')}"></span>
                        <span style="font-size: 18px;">đ</span>
                    </p>
                    <a href="cart.html" class="cart-btn"><img style="width:20px; height:20px;margin-right:10px;" th:src="@{/user/images/cart.png}"> Add to Cart</a>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->
<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img th:src="@{/user/images/company-logos/1.png}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{/user/images/company-logos/2.png}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{/user/images/company-logos/3.png}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{/user/images/company-logos/4.png}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img th:src="@{/user/images/company-logos/5.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>